.tableContainer {
  display: flex;
  justify-content: center;
  
}

.table-content {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.95em;
  min-width: 450px;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 15);
}

.table-content thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table-content th,
.table-content td {
  padding: 12px 15px;
}

.table-content tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-content tbody tr:nth-of-type(even) {
  background-color: #f3f3f3b1;
}

.table-content tbody tr:nth-of-type(odd) {
  background-color: whitesmoke;
}

.table-content tbody tr:last-of-type {
  border-bottom: #009879;
}

